*.iml
.gradle
.idea
/local.properties
.DS_Store
**/build
/captures
/infer-out
*.apk
.externalNativeBuild
*.hprof
output.json
/reports
referal
.cxx
app/src/main/assets/version.properties
.kotlin/
app/src/main/assets/remote-config/remote-config.json
app/src/main/assets/translations/ApplicationTranslations.json